@tailwind base;
@tailwind components;
@tailwind utilities;

.navbutton {
    @apply relative w-fit block;
}

.navbutton::after {
    @apply block absolute h-[2px] bg-white w-full scale-x-0 transition duration-300 origin-left;
    content: '';
}

.navbutton:hover::after {
    @apply scale-x-100;
}

.hiddens { 
    @apply opacity-0 transition-all duration-500 ease-in-out;
    filter: blur(5px);
    transform: translateX(-100%);
    
}

.show {
    @apply opacity-100;
    filter: blur(0px);
    transform: translateX(0);
}

.slide-out {
    @apply transform -translate-x-full opacity-0 transition-all duration-500 ease-in-out;
}

.outline {
    outline: 2px solid white;
    transition: outline 0.5s ease-in-out;
}
