@tailwind base;
@tailwind components;
@tailwind utilities;

.navbutton {
    @apply relative w-fit block;
}

.navbutton::after {
    @apply block absolute h-[2px] bg-white w-full scale-x-0 transition duration-300 origin-left;
    content: '';
}

.navbutton:hover::after {
    @apply scale-x-100;
}

.hiddens { 
    @apply opacity-0 transition-all duration-1000 ease-in-out;
    filter: blur(3px);
    transform: translateX(-30%);
    
}

.hidchild:nth-child(2){
    transition-delay: 200ms;
}

.hidchild:nth-child(3){
    transition-delay: 400ms;
}

.hidchild:nth-child(4){
    transition-delay: 600ms;
}

.show {
    @apply opacity-100;
    filter: blur(0px);
    transform: translateX(0);
}



.slide-out {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.outline {
    outline: 1px solid white;
    transition: outline 0.5s ease-in-out;
}
